<div class="container">
    <div class="row">
        <div class="col-2">
            <%= @user.name %>
        </div>
        <div class="col-1">
            <div id="relationships_buttons_<%= @user.id %>">
                <%= render partial: 'relationships/follow', locals: { user: @user } %>
            </div>
        </div>
        <div class="col-1">
            <% unless @user.id == current_user.id %>
                <% if @isRoom == true %>
                    <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="icon"><i class="fas fa-comments"></i></a>
                <% else %>
                    <%= form_for @room do |f| %>
                        <%= fields_for @entry do |e| %>
                            <%= e.hidden_field :user_id, value: @user.id %>
                        <% end %>
                        <%= button_tag type: :submit, class:"icon" do %>
                            <i class="far fa-comments"></i>
                        <% end %> 
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>
    <%= image_tag @user.image_url, size: "300x300", class:"rounded-circle" if @user.image? %><br>
    <%= link_to "ユーザー情報の編集", edit_user_registration_path %>
</div>
<div class="container">
    <h5>フォロー</h5>
    <% @user.followings.each do |following| %>
        <div class="row">
            <div class="col-1">
                <%= image_tag following.image_url, size: "50x50", class:"rounded-circle" if following.image? %>
            </div>
            <div class="col-2">
                <%= link_to user_path(following.id) do %>
                    <%= following.name %>
                <% end %>
            </div>
            <div class="col-1">
                <div id="relationships_buttons_<%= following.id %>">
                    <%= render partial: 'relationships/follow', locals: { user: following } %>
                </div>
            </div>
            <div class="col-1">
                <% if @following_array[following.id]["isRoom"] == "true" %>
                    <p class="user-show-room"><a href="/rooms/<%= @following_array[following.id]["roomId"] %>" class="icon"><i class="fas fa-comments"></i></a><br>
                <% elsif @following_array[following.id]["isRoom"] == "false" %>
                    <%= form_for @room do |f| %>
                        <%= fields_for @entry do |e| %>
                            <%= e.hidden_field :user_id, value: following.id %>
                        <% end %>
                        <%= button_tag type: :submit, class:"icon" do %>
                            <i class="far fa-comments"></i>
                        <% end %> 
                    <% end %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>
<div class="container">
    <h5>フォロワー</h5>
    <% @user.followers.each do |follower| %>
        <div class="row">
            <div class="col-1">
                <%= image_tag follower.image_url, size: "50x50", class:"rounded-circle" if follower.image? %>
            </div>
            <div class="col-2">
                <%= link_to user_path(follower.id) do %>
                    <%= follower.name %>
                <% end %>
            </div>
            <div class="col-1">
                <div id="relationships_buttons_<%= follower.id %>">
                    <%= render partial: 'relationships/follow', locals: { user: follower } %>
                </div>
            </div>
            <div class="col-1">
                <% if @follower_array[follower.id]["isRoom"] == "true" %>
                    <p class="user-show-room"><a href="/rooms/<%= @follower_array[follower.id]["roomId"] %>" class="icon"><i class="fas fa-comments"></i></a><br>
                <% elsif  @follower_array[follower.id]["isRoom"] == "false" %>
                    <%= form_for @room do |f| %>
                        <%= fields_for @entry do |e| %>
                            <%= e.hidden_field :user_id, value: follower.id %>
                        <% end %>
                        <%= button_tag type: :submit, class:"icon" do %>
                            <i class="far fa-comments"></i>
                        <% end %> 
                    <% end %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>

<style>
    .icon {
        background-color: #fff;
        border: none;
        color: black;
    }
</style>