<h1>DM</h1>

<h4>参加者</h4>
<% @entries.each do |e| %>
    <%= link_to user_path(e.user_id) do %>
        <%= e.user.name %><br>
    <% end %>
<% end %>

<hr>
<% if @messages.present? %>
    <% @messages.each do |m| %>
        <strong><%= m.content %></strong>
        by
        <%= link_to user_path(m.user_id) do %>
            <%= m.user.name %><br>
        <% end %>
        <hr>
    <% end %>
<% else %>
    <h3 class="text-center">メッセージはまだありません</h3>
<% end %>

<%= form_for @message do |f| %>
    <%= f.text_field :content, :placeholder => "メッセージを入力して下さい" , :size => 70 %>
    <%= f.hidden_field :room_id, :value => @room.id %>
    <br>
    <%= f.submit "投稿する" %>
<% end %>
