<style>
.undisplay-field {
    display: none;
}
.main-container {
    margin: 0px auto;
    width: 80%;
}
.icons {
    width: 100%;
}
.icon-box {
    display: flex;
    justify-content: space-around;
}
.icon {
    background-color: #fff;
    border: none;
    color: black;
}
.main {
    width: 50%;
}
.comment-container {
    border-bottom: 1px solid;
}
.name-box {
    display: flex;
    align-items: center;
}
.post-commentform-field {
    width: 100%;
}
#explain-box {
    position: absolute;
    top: 100px;
    left: 0px;
    border: solid 1px;
    background: white;
    font-size: 10px;
}
.undisplay {
    display: none;
}
</style>
<div class="main container">
    <div class="row">
        <div class="col-1">
            <%= image_tag @post.user.image_url, size: "50x50", class:"rounded-circle" if @post.user.image? %>
        </div>
        <div class="col-11 name-box">
            <%= link_to user_path(@post.user_id) do %>
                <%= @post.user.name %><br>
            <% end %>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <%= @post.body %>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="icons container">
                <div class="row">
                    <div class="col-3 icon-box">
                        <div id="post_likes_buttons_<%= @post.id %>">
                            <%= render partial: 'post_likes/like', locals: { post: @post } %>
                        </div>
                    </div>
                    <div class="col-3 icon-box">
                        <%= link_to  post_path(@post.id) do %>
                            <i class="fas fa-file-alt show-icon"></i>
                        <% end %>
                    </div>
                    <% if user_signed_in? && current_user.id == @post.user_id %>
                        <div class="col-3 icon-box">
                            <%= link_to edit_post_path(@post.id) do %>
                                <i class="fas fa-pen edit-icon"></i>
                            <% end %>
                        </div>
                        <div class="col-3 icon-box">
                            <%= link_to post_path(@post.id), method: :delete, data: { confirm: '削除しますか？' } do %>
                                <i class="fas fa-trash-alt delete-icon"></i>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <%= image_tag @post.image_url, size: "500x500" if @post.image? %>
        </div>
    </div>
    <% @post.comments.each do |comment| %>
        <div class="row comment-container">
            <div class="col-1">
                <%= image_tag comment.user.image_url, size: "50x50", class:"rounded-circle" if comment.user.image? %>
            </div>
            <div class="col-5">
                <%= comment.user.name %><br>
                <%= comment.body %>
            </div>
            <div class="col-3">
                <div class="icons container">
                    <div class="row">
                        <div class="col-6 icon-box">
                            <div id="comment_likes_buttons_<%= comment.id %>">
                                <%= render partial: 'comment_likes/like', locals: { comment: comment, post: @post } %>
                            </div>
                        </div>
                        <div class="col-6 icon-box">
                            <% if user_signed_in? && current_user.id == comment.user_id %>
                                <%= link_to post_comment_path(post_id:@post.id ,id:comment.id), method: :delete, data: { confirm: '削除しますか？' } do %>
                                    <i class="fas fa-trash-alt"></i>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
    <%= form_with(model: [@post, @comment]) do |f| %>
    <div class="row">
        <div class="col-11">
            <div class="post-comment-field">
                <%= f.text_field :body, :placeholder => "コメントを入力して下さい", :size => 140, class:"post-commentform-field" %>
            </div>
        </div>
        <div class="undisplay-field">
            <%= f.text_field :post_id %>
        </div>
        <div class="col-1">
            <%= button_tag type: :submit, class:"icon" do %>
                <i class="far fa-comment"></i>
            <% end %>
        </div>
    </div>
<% end %>
</div>

<script>
    const showIcon = document.querySelector('.show-icon')
    const editIcon = document.querySelector('.edit-icon')
    const deleteIcon = document.querySelector('.delete-icon')

    function myFunc(element, explain){
        element.addEventListener('mouseenter', () => {
            const divElement = document.createElement('div');
            divElement.id = 'explain-box';
            divElement.classList.add('undisplay')
            divElement.innerHTML = explain;
            document.body.appendChild(divElement);
            const explainBox = document.querySelector('#explain-box');
            document.addEventListener('mousemove', onMouseMove);
            function onMouseMove(event) {
                explainBox.style.left = `${event.clientX + 5}px`;
                explainBox.style.top = `${event.clientY - 20}px`;
            }
            setTimeout(() => {
                divElement.classList.remove('undisplay')
            }, 1000);
        });
        element.addEventListener('mouseleave', () => {
            setTimeout(() => {
                const divElement = document.getElementById('explain-box');
                divElement.remove();
            }, 0);
        });
    };

    myFunc(showIcon, "詳細へ");
    myFunc(editIcon, "投稿を編集する");
    myFunc(deleteIcon, "投稿を削除する");


</script>