<div class=bird>
    <div class="beak1">
        <div class="beak1-element1"></div>
        <div class="beak1-element2"></div>
    </div>
    <div class="beak2">
        <div class="beak2-element1"></div>
        <div class="beak2-element2"></div>
    </div>
    <div class="body">
        <div class="body-element1"></div>
        <div class="body-element2"></div>
    </div>
    <div class="head">
        <div class="head-element"></div>
    </div>
    <div class="wing1">
        <div class="wing1-element1"></div>
        <div class="wing1-element2"></div>
    </div>
    <div class="wing2">
        <div class="wing2-element1"></div>
        <div class="wing2-element2"></div>
    </div>
    <div class="wing3">
        <div class="wing3-element1"></div>
        <div class="wing3-element2"></div>
    </div>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :name, autocomplete:"off", autofocus: true, size: 40, id:"name-field" %>
    <label>ユーザー名</label>
  </div>

  <div class="field">
    <%= f.email_field :email, autocomplete:"off", autofocus: true, autocomplete: "email", size: 40, id:"email-field" %>
    <label>メールアドレス</label>
  </div>

  <div class="field">
    <div class="file-label">ユーザーアイコン</div>
    <%= f.file_field :image, class:"file-field" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", size: 40, id:"new-password-field" %>
    <label>新しいパスワード</label>
    <% if @minimum_password_length %>
      <br />
    <% end %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", size: 40, id:"password-confirmation-field" %>
    <label>新しいパスワードの再入力</label>
  </div>

  <div class="field">
    <%= f.password_field :current_password, autocomplete: "off", size: 40, id:"password-field" %>
    <label>現在のパスワード</label>
  </div>

  <div class="actions">
    <%= f.submit "更新する", class:"submit" %>
  </div>
<% end %>

<%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当に削除しますか?" }, method: :delete, class:"btn btn-primary" %>

<%= link_to "Back", :back, class:"btn btn-primary" %>

<script>
var username = document.querySelector('#name-field');
var email = document.querySelector('#email-field');
var newPassword = document.querySelector('#new-password-field');
var passwordConfirmation = document.querySelector('#password-confirmation-field');
var password = document.querySelector('#password-field');
var nameField  = document.getElementById("name-field");
var emailField  = document.getElementById("email-field");
var newPassField  = document.getElementById("new-password-field");
var passConfirmField  = document.getElementById("password-confirmation-field");
var passField  = document.getElementById("password-field");

function myFunction(form, body) {
    form.focusin = function (){
        form.className = "active";
    }; 
    form.focusout = function (){
        if (body.value == "" || body.value == undefined) {
            form.className = "";
        } else {
            form.className = "filled";
        }
    }; 
}

function myFunction2(form, body) {
  if (body.value == "") {
      form.className = "";
  } else {
      form.className = "filled";
  }
}

myFunction2(nameField, username);
myFunction2(emailField, email);

myFunction(nameField, username);
myFunction(emailField, email);
myFunction(newPassField, newPassField);
myFunction(passConfirmField, passwordConfirmation);
myFunction(passField, password);

</script>