<div class=bird>
    <div class="beak1">
        <div class="beak1-element1"></div>
        <div class="beak1-element2"></div>
    </div>
    <div class="beak2">
        <div class="beak2-element1"></div>
        <div class="beak2-element2"></div>
    </div>
    <div class="body">
        <div class="body-element1"></div>
        <div class="body-element2"></div>
    </div>
    <div class="head">
        <div class="head-element"></div>
    </div>
    <div class="wing1">
        <div class="wing1-element1"></div>
        <div class="wing1-element2"></div>
    </div>
    <div class="wing2">
        <div class="wing2-element1"></div>
        <div class="wing2-element2"></div>
    </div>
    <div class="wing3">
        <div class="wing3-element1"></div>
        <div class="wing3-element2"></div>
    </div>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  

  <div class="field">
    <%= f.email_field :email, autocomplete:"off", autofocus: true, size: 40, id:"email-field" %>
    <label>メールアドレス</label>
  </div>

  <div class="field">
    <%= f.text_field :name, autocomplete:"off", autofocus: true, size: 40, id:"name-field" %>
    <label>ユーザー名</label>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete:"off", size: 40, id:"password-field" %>
    <label>パスワード</label>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", size: 40, id:"password-confirmation-field" %>
    <label>パスワードの再入力</label>
  </div>

  <div class="actions">
    <%= f.submit "アカウント作成", class:"submit" %>
  </div>
<% end %>

<%= render "users/shared/links" %>

<script>
var username = document.querySelector('#name-field');
var email = document.querySelector('#email-field');
var password = document.querySelector('#password-field');
var passwordConfirmation = document.querySelector('#password-confirmation-field');
var nameField  = document.getElementById("name-field");
var emailField  = document.getElementById("email-field");
var passField  = document.getElementById("password-field");
var passConfirmField  = document.getElementById("password-confirmation-field");

function myFunction(form, body) {
    form.focusin = function (){
        form.className = "active";
    }; 
    form.focusout = function (){
        if (body.value == "" || body.value == undefined) {
            form.className = "";
        } else {
            form.className = "filled"
        }
    }; 
}

myFunction(nameField, username);
myFunction(emailField, email);
myFunction(passField, password);
myFunction(passConfirmField, passwordConfirmation);

</script>