<div class=bird>
    <div class="beak1">
        <div class="beak1-element1"></div>
        <div class="beak1-element2"></div>
    </div>
    <div class="beak2">
        <div class="beak2-element1"></div>
        <div class="beak2-element2"></div>
    </div>
    <div class="body">
        <div class="body-element1"></div>
        <div class="body-element2"></div>
    </div>
    <div class="head">
        <div class="head-element"></div>
    </div>
    <div class="wing1">
        <div class="wing1-element1"></div>
        <div class="wing1-element2"></div>
    </div>
    <div class="wing2">
        <div class="wing2-element1"></div>
        <div class="wing2-element2"></div>
    </div>
    <div class="wing3">
        <div class="wing3-element1"></div>
        <div class="wing3-element2"></div>
    </div>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :name, autocomplete:"off", autofocus: true, size: 40, class:"form-field" %>
    <label class="userform-label">ユーザー名</label>
  </div>

  <div class="field">
    <%= f.email_field :email, autocomplete:"off", autofocus: true, size: 40, class:"form-field" %>
    <label class="userform-label">メールアドレス</label>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete:"off", autocomplete: "new-password", size: 40, class:"form-field" %>
    <label class="userform-label">パスワード</label>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", size: 40, class:"form-field" %>
    <label class="userform-label">パスワードの再入力</label>
  </div>

  <div class="actions">
    <%= f.submit "アカウント作成", class:"submit" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
